// Sections

$content-top: 10;
$content-bottom: 1;

.content-grid {
    @extend %clearfix;
    position: relative;
    margin-bottom: 40px;

    @include media-above($break-small) {
      display: flex;
      margin-bottom: 80px;
    }
    // @include media-above($break-large) {
    //   max-width: 90%;
    // }
}

.content-grid--image {
    position: relative;
    z-index: $content-top;

    img {
      display: block;
      width: 100%;
    }

    @include media-above($break-small) {
      float: left;
      width: 50%;

      img {
        width: 66vw;
        max-width: 66vw;
      }
    }
}

.content-grid--article {
  position: relative;
  z-index: $content-top;
  background: $green-light;

  @include media-above($break-small) {
    float: left;
    width: 50%;
    align-self: center;
  }

  .article-wrap {
    padding: 35px;
  }

  .entry-title {
    margin-top: 20px;
    font-size: 2em;
  }
}

.content-grid--title {
  display: block;
  font-family: $heading-font;
  font-size: 18px;
  color: #6A7C7C;
  letter-spacing: 3px;
  text-transform: uppercase;
}


// Section with image on the right
//
// .content-grid--image-right {
//     flex-direction: row-reverse;
//     @include media-above($break-small) {
//         margin-right: auto;
//     }
//
//     .content-grid--article {
//         position: relative;
//         @include media-above($break-small) {
//             width: 70%;
//             float: right;
//         }
//     }
//
//     .content-grid--image {
//         @include media-above($break-small) {
//             width: 30%;
//             float: right;
//         }
//     }
// }
//
//  // Section with image on the left
//
// .content-grid--image-left {
//     flex-direction: row;
//     @include media-above($break-small) {
//         margin-left: auto;
//     }
//
//     .content-grid--article{
//         background: #fff;
//         position: relative;
//
//         @include media-above($break-small) {
//             margin-top: 0;
//             width: 60%;
//         }
//     }
//
//     .content-grid--image {
//         @include media-above($break-small) {
//             width: 40%;
//         }
//
//         img {
//           right: 0;
//         }
//     }
// }
