.homepage-newsletter {
  position: relative;
  max-width: 800px;
  margin: 4em auto 0;
  padding: 30px;
  text-align: center;
  background: $green-light;

  .newsletter-heading {
      margin: 10px;
  }

  .homepage-newsletter-wrap {
    @extend %clearfix;
  }

  .newsletter-email {
    @include media-above($break-small) {
      width: 70%;
      float: left;
    }
  }

  .newsletter-button {
    @include media-above($break-small) {
      width: 30%;
      float: left;
    }

    .button {
      background: $green;

      &:hover {
        background: darken($green, 5%);
      }
    }
  }

  #mce-success-response {
      position: absolute;
      background: $green-light;
      top: 0;
      left: 0;
      height: 100%;
      text-align: center;
      align-items: center;
      display: flex;
      padding: 0 30px;
      z-index: 10;
  }

  #mc_embed_signup div.mce_inline_error {
      margin: 0 0 1em 0;
      padding: 10px 10px;
      background-color: #f78484;
      font-weight: bold;
      z-index: 1;
      color: #fff;
      transition: ease all 300ms;
  }

  input {
    width: 100%;
    height: 60px;
    padding: 0 24px;
    line-height: 1;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
  }
}



$newsletter-color: $black;

.newsletter-bubble {
  position: absolute;
  top: -66px;
  display: none;
  padding: 6px 16px;
  margin: 1em 0 13px;
  border: 3px solid $newsletter-color;
  color: #fff;
  background: $newsletter-color;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;

  @include media-above($break-small) {
    left: 15px;
  }

  &:before{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 40px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: $newsletter-color transparent;
    display: block;
    width: 0;
  }
  //
  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: -13px;
  //   left: 47px;
  //   border-width: 13px 13px 0;
  //   border-style: solid;
  //   border-color: #000 transparent;
  //   display: block;
  //   width: 0;
  // }
}

.homepage-newsletter:hover .newsletter-bubble {
  display: inline-block;
}
