.index-article {
    position: relative;
    margin-bottom: 2.5em;

    h2 {
        background: #fff;
        padding: 0.2em;
        z-index: 10;

        @include media-above($break-small) {
            position: absolute;
        }

        a {
            color: $text-color;
        }
    }

    .index-featured-image {
        position: relative;
        margin-left: 3em;
        transition: ease all 300ms;
        z-index: 0;

        &:hover {
            transform: translateX(15px);
        }
    }
}
