.page-title {
    text-align: center;
    //color: #fff;
    max-width: 800px;
    margin: 0 auto 80px;

  @include media-above($break-small) {
    margin-bottom: 120px;
  }
    h1 {
      @include media-above($break-small) {
        font-size: 60px;
      }
    }
}
