// Product Footer
// Everything under the product listing

.product-footer {

  > section {
    margin-top: 5em;

    > h2 {
      text-align: center;
      font-size: 22px;
      font-weight: 400;
    }
  }
}
