.product_meta {
  display: none;
}

.tasting-notes h3{
  font-family: $sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.product-notes {
  ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    li {
      border-bottom: 1px solid #000;
      padding: 10px 0;

      span {
        font-family: $sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    li:last-child {
      border: none;
    }
  }
}
