.product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    li {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;

        @include media-above($break-small) {
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            max-width: 50%;
        }

        @include media-above($break-medium) {
            -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
            max-width: 33.33333333%;
        }
    }

    .product-wrap {
        position: relative;
        padding: 20px;
        text-align: center;

        span.onsale {
            position: absolute;
            left: 22%;
            top: 10%;
            transform: rotate(-12deg);
            min-height: 3.236em;
            min-width: 3.236em;
            padding: .202em;
            font-size: 1em;
            font-weight: 700;
            text-align: center;
            line-height: 3.236;
            margin: 0;
            border-radius: 100%;
            background-color: #77a464;
            color: #fff;
            font-size: .857em;
            z-index: 9;
        }

    }

    .product-image {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 15px;
        color: $text-color;
    }
}
