.tasting-room-hours {
  text-align: left;
  text-transform: none;
  padding: 15px;

  @include media-above($break-small) {
    padding: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }

}

.table-menu {

  h4,
  p {
    margin: 0;
    padding: 0;
  }

  .coffee-price {
    padding: 0 20px;
    vertical-align: top;
  }

  td {
      padding-bottom: 20px;
  }
}
