// woocommerce style overwrites
.woocommerce {

  // Price on Product Page
  div.product p.price,
  div.product span.price {
    color: $text-color;
    margin: 0;
  }

  ul.products li.product .price {
    color: $text-color;
  }

  // Button
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background: #000;

    &:hover {
      background: $green;
    }
  }

  .quantity .qty {
    border-bottom: 1px solid #000;
    padding: 9px 0px;
    font-size: 18px;
    margin-right: 10px;
  }

  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    border: none;
  }

  form .form-row .required {
    color: #f54b4b;
    text-decoration: none;
  }

  form .form-row.woocommerce-invalid .select2-container,
  form .form-row.woocommerce-invalid input.input-text,
  form .form-row.woocommerce-invalid select {
    border: 1px solid #ccc;
    background: #fff;
    color: #444;
    padding: 15px;
    font-size: 16px;
    outline: none;
  }

  input.button {
    width: auto !important;
  }

  input#coupon_code {
    width: 120px;
    padding: 0.618em;
    font-size: 16px;
    font-family: $sans-serif;
  }

  .wc-proceed-to-checkout a.checkout-button {
    padding: 1em 0.5em;
    line-height: 0.5em;
  }
}

.woocommerce-MyAccount-navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.woocommerce ul#shipping_method li input {
    width: auto;
}

#payment div.form-row {
    width: 42%;
}
