html{font-size:1.25em}body{background-color:white;font-family:"Asar","Droid Serif",Georgia,serif;font-weight:400;line-height:1.45;color:#000}p{margin-bottom:1.3em}h1,h2,h3,h4{margin:1.414em 0 0.5em;font-weight:inherit;line-height:1.2}h1{font-family:"Oswald","Helvetica Neue",Helvetica,Arial,"Nimbus Sans L","Liberation Sans",Arimo,sans-serif;margin-top:0;font-size:3.1em;font-weight:500}h1 a{color:#000}h1 a:hover{color:#DDB988}h2{font-size:2.827em}h3{font-size:1.999em}h4{font-size:1.414em}small,.font_small{font-size:0.707em}h5,.entry-meta{font-size:16px;letter-spacing:0.25em}
