/*!
Theme Name: Oddly Correct
Author: Patrick Little
Author URI: http://patrick-little.com
Description: Oddly Correct
Version: 0.1
Text Domain: oddlycorrect
*/ /*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
#wpadminbar {
  top: -32px;
}
.entry-content img {
  margin: 0 0 1.5em;
}
.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
.menu-inline:after,
.nav-posts:after,
.row:after,
.wrap-main:after,
.site-header:after,
.footer-navigation:after,
.content-grid:after,
.homepage-newsletter .homepage-newsletter-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.menu-inline > li > ul,
.menu-inline ul > li > ul,
.site-description {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.nav-posts {
  margin-bottom: 90px;
}
html {
  font-size: 20px;
}
body {
  background: #fff;
  color: #111;
  font-family: "Lora", "Droid Serif", Georgia, serif;
  line-height: 1.4444;
  transform: translateZ(0);
  width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  font-weight: 700;
  line-height: 1.22222;
}
a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color 100ms ease-out;
  color: #2baad5;
}
figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}
p {
  padding-bottom: 1em;
}
p a {
  color: #000;
  text-decoration: underline;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.textCenter {
  text-align: center;
}
html {
  font-size: 1.25em;
}
body {
  background-color: white;
  font-family: "Lora", "Droid Serif", Georgia, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #111;
}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  margin-top: 0;
  font-size: 3.1em;
  font-weight: 500;
}
h1 a {
  color: #111;
}
h1 a:hover {
  color: #2baad5;
}
h2 {
  font-size: 2.827em;
}
h3 {
  font-size: 1.999em;
}
h4 {
  font-size: 1.414em;
}
small,
.font_small {
  font-size: 0.707em;
}
h5,
.entry-meta {
  font-size: 16px;
  letter-spacing: 0.25em;
}
.menu-inline,
.menu-inline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-inline > li,
.menu-inline ul > li {
  float: left;
  margin-right: 15px;
}
.menu-inline > li:last-of-type,
.menu-inline ul > li:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 64em) {
  #responsive-menu-toggle {
    display: none;
  }
}
.nav-previous {
  box-sizing: border-box;
  float: left;
  padding-right: 15px;
  width: 50%;
}
.nav-next {
  box-sizing: border-box;
  float: right;
  padding-left: 15px;
  text-align: right;
  width: 50%;
}
#responsive-menu {
  transition: cubic-bezier(0.4, 0, 1, 1) all 200ms;
  transform: translateY(-130%);
  position: absolute;
  width: 100%;
}
@media screen and (min-width: 48em) {
  #responsive-menu {
    transform: none;
    position: relative;
  }
}
#responsive-menu.menu-open {
  transform: none;
}
.mobile-nav-button {
  display: block;
  border: 0;
  outline: 0;
  text-align: center;
  background: #111;
  transition: ease all 150ms;
  display: block;
  color: #c7dbf4;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0.75em 0;
  width: 100%;
  z-index: 10;
  position: relative;
}
@media screen and (min-width: 48em) {
  .mobile-nav-button {
    display: none;
  }
}
ul.header-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
@media screen and (min-width: 48em) {
  ul.header-navigation {
    flex-direction: row;
  }
}
ul.header-navigation li {
  flex: 1;
  text-align: center;
  list-style: none;
  color: #c7dbf4;
  border-bottom: 0px solid;
  background: #c7dbf4;
  transition: ease all 150ms;
}
ul.header-navigation li.current-menu-item {
  border-color: #2baad5;
}
ul.header-navigation li:hover {
  background: #d0e0f6;
  color: #34add7;
}
ul.header-navigation a {
  display: block;
  color: #111;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0.75em;
}
form input,
form textarea {
  border: 0;
  background: #fff;
  color: #444;
  padding: 16px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.8em;
}
.button {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  background: #2baad5;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease all 100ms;
}
.button:hover {
  background: #2699c0;
}
.form-inline--input,
.form-inline--button {
  display: inline-block;
}
@media screen and (min-width: 64em) {
  .row {
    display: flex;
    margin-right: -30px;
    margin-left: -30px;
  }
}
.row .column {
  position: relative;
}
@media screen and (min-width: 64em) {
  .row .column {
    width: 50%;
    padding: 30px;
  }
}
.img-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.big-button {
  background: #2baad5;
  display: inline-block;
  color: #fff;
  padding: 16px 46px 20px;
  transition: ease-in-out all 150ms;
  font-size: 1.2em;
  border-radius: 3em;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  line-height: 1;
  font-size: 30px;
  text-decoration: none;
}
.big-button:hover {
  background: #40b3d9;
}
.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
}
.site-title {
  margin-top: 0;
  pointer-events: none;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
@media screen and (min-width: 64em) {
  .container {
    max-width: 64em;
    padding: 0 30px;
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: 75em;
  }
}
.site-header {
  width: 100%;
}
.site-branding {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 48em) {
  .site-branding {
    margin-bottom: 0;
    padding: 40px;
  }
}
.site-branding h1 {
  margin: 0;
}
.header-logo {
  height: auto;
  width: 240px;
  line-height: 1;
}
@media screen and (min-width: 48em) {
  .header-logo {
    width: 240px;
  }
}
.site-navigation {
  width: 100%;
  margin-bottom: 1.5em;
}
.site-footer {
  padding: 30px 0;
}
@media screen and (min-width: 48em) {
  .site-footer {
    padding: 60px 0;
  }
}
@media screen and (min-width: 64em) {
  .site-footer {
    padding: 90px 0;
  }
}
@media screen and (min-width: 48em) {
  .footer-navigation .footer-navigation-column {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 64em) {
  .footer-navigation .footer-navigation-column {
    width: 25%;
  }
}
.footer-navigation .footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
.footer-navigation .footer-menu a {
  color: #111;
}
.copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
}
.page-header {
  text-align: center;
  margin: 0 auto 80px;
  text-transform: uppercase;
}
.page-header h1 {
  display: inline-block;
  padding-bottom: 15px;
}
@media screen and (min-width: 48em) {
  .page-header h1 {
    font-size: 60px;
    max-width: 800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 64em) {
  .page-header h1 {
    font-size: 80px;
  }
}
.page-header h2 {
  font-family: "Lora", "Droid Serif", Georgia, serif;
  font-size: 28px;
  text-transform: none;
  margin-bottom: 2em;
}
@media screen and (min-width: 48em) {
  .page-header.product-page-header h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 64em) {
  .page-header.product-page-header h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 48em) {
  .has-featured-image .page-title {
    position: absolute;
    right: 0;
    padding: 40px 20px 40px 40px;
    background: #fff;
    color: #111;
    margin-top: 40px;
    max-width: 50vw;
    text-align: right;
  }
}
.page-featured-image img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 48em) {
  .page-featured-image img {
    max-width: 85vw;
  }
}
@media screen and (min-width: 64em) {
  .page-featured-image img {
    max-width: 75vw;
  }
}
h1.post-title {
  margin-bottom: 1.45em;
}
.post-featured-image {
  max-width: 60em;
  margin: auto;
}
.post-featured-image img {
  display: block;
  width: 100%;
  height: auto;
}
.page-content {
  margin: auto;
}
@media screen and (min-width: 48em) {
  .page-content {
    max-width: 35em;
  }
}
@media screen and (min-width: 75em) {
  .page-content {
    max-width: 40em;
  }
}
.welcome-message {
  margin: 0 auto 4em;
  padding: 0 15px;
  text-align: center;
  max-width: 800px;
}
@media screen and (min-width: 75em) {
  .welcome-message {
    margin-bottom: 8em;
  }
}
.welcome-message h1 {
  font-size: 3em;
  margin-bottom: 2rem;
}
.site-background-image {
  position: fixed;
  top: -30px;
  left: 50%;
  width: 90%;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0.2;
}
.site-background-image img {
  max-width: 100%;
}
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.product-list li {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}
@media screen and (min-width: 48em) {
  .product-list li {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 64em) {
  .product-list li {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}
.product-list .product-wrap {
  position: relative;
  padding: 20px;
  text-align: center;
}
.product-list .product-wrap span.onsale {
  position: absolute;
  left: 22%;
  top: 10%;
  transform: rotate(-12deg);
  min-height: 3.236em;
  min-width: 3.236em;
  padding: 0.202em;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 3.236;
  margin: 0;
  border-radius: 100%;
  background-color: #77a464;
  color: #fff;
  font-size: 0.857em;
  z-index: 9;
}
.product-list .product-image {
  margin-bottom: 30px;
}
.product-list h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #111;
}
.content-grid {
  position: relative;
  margin-bottom: 40px;
}
@media screen and (min-width: 48em) {
  .content-grid {
    display: flex;
    margin-bottom: 80px;
  }
}
.content-grid--image {
  position: relative;
  z-index: 10;
}
.content-grid--image img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 48em) {
  .content-grid--image {
    float: left;
    width: 50%;
  }
  .content-grid--image img {
    width: 66vw;
    max-width: 66vw;
  }
}
.content-grid--article {
  position: relative;
  z-index: 10;
  background: #c7dbf4;
}
@media screen and (min-width: 48em) {
  .content-grid--article {
    float: left;
    width: 50%;
    align-self: center;
  }
}
.content-grid--article .article-wrap {
  padding: 35px;
}
.content-grid--article .entry-title {
  margin-top: 20px;
  font-size: 2em;
}
.content-grid--title {
  display: block;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  font-size: 18px;
  color: #6a7c7c;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #111;
  margin: 0;
}
.woocommerce ul.products li.product .price {
  color: #111;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #000;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #2baad5;
}
.woocommerce .quantity .qty {
  border-bottom: 1px solid #000;
  padding: 9px 0px;
  font-size: 18px;
  margin-right: 10px;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  border: none;
}
.woocommerce form .form-row .required {
  color: #f54b4b;
  text-decoration: none;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
  border: 1px solid #ccc;
  background: #fff;
  color: #444;
  padding: 15px;
  font-size: 16px;
  outline: none;
}
.woocommerce input.button {
  width: auto !important;
}
.woocommerce input#coupon_code {
  width: 120px;
  padding: 0.618em;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
}
.woocommerce .wc-proceed-to-checkout a.checkout-button {
  padding: 1em 0.5em;
  line-height: 0.5em;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woocommerce ul#shipping_method li input {
  width: auto;
}
#payment div.form-row {
  width: 42%;
}
.homepage-newsletter {
  position: relative;
  max-width: 800px;
  margin: 4em auto 0;
  padding: 30px;
  text-align: center;
  background: #c7dbf4;
}
.homepage-newsletter .newsletter-heading {
  margin: 10px;
}
@media screen and (min-width: 48em) {
  .homepage-newsletter .newsletter-email {
    width: 70%;
    float: left;
  }
}
@media screen and (min-width: 48em) {
  .homepage-newsletter .newsletter-button {
    width: 30%;
    float: left;
  }
}
.homepage-newsletter .newsletter-button .button {
  background: #2baad5;
}
.homepage-newsletter .newsletter-button .button:hover {
  background: #2699c0;
}
.homepage-newsletter #mce-success-response {
  position: absolute;
  background: #c7dbf4;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0 30px;
  z-index: 10;
}
.homepage-newsletter #mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0;
  padding: 10px 10px;
  background-color: #f78484;
  font-weight: bold;
  z-index: 1;
  color: #fff;
  transition: ease all 300ms;
}
.homepage-newsletter input {
  width: 100%;
  height: 60px;
  padding: 0 24px;
  line-height: 1;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
}
.newsletter-bubble {
  position: absolute;
  top: -66px;
  display: none;
  padding: 6px 16px;
  margin: 1em 0 13px;
  border: 3px solid #000;
  color: #fff;
  background: #000;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
@media screen and (min-width: 48em) {
  .newsletter-bubble {
    left: 15px;
  }
}
.newsletter-bubble:before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 40px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
}
.homepage-newsletter:hover .newsletter-bubble {
  display: inline-block;
}
.product_meta {
  display: none;
}
.tasting-notes h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.product-notes ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.product-notes ul li {
  border-bottom: 1px solid #000;
  padding: 10px 0;
}
.product-notes ul li span {
  font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
    "Liberation Sans", Arimo, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.product-notes ul li:last-child {
  border: none;
}
.product-footer > section {
  margin-top: 5em;
}
.product-footer > section > h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}
.tasting-room-hours {
  text-align: left;
  text-transform: none;
  padding: 15px;
}
@media screen and (min-width: 48em) {
  .tasting-room-hours {
    padding: 0;
  }
}
.tasting-room-hours p:last-child {
  padding-bottom: 0;
}
.table-menu h4,
.table-menu p {
  margin: 0;
  padding: 0;
}
.table-menu .coffee-price {
  padding: 0 20px;
  vertical-align: top;
}
.table-menu td {
  padding-bottom: 20px;
}
.index-article {
  position: relative;
  margin-bottom: 2.5em;
}
.index-article h2 {
  background: #fff;
  padding: 0.2em;
  z-index: 10;
}
@media screen and (min-width: 48em) {
  .index-article h2 {
    position: absolute;
  }
}
.index-article h2 a {
  color: #111;
}
.index-article .index-featured-image {
  position: relative;
  margin-left: 3em;
  transition: ease all 300ms;
  z-index: 0;
}
.index-article .index-featured-image:hover {
  transform: translateX(15px);
}
.input {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0.9rem;
  padding: 0.6rem;
  background: #fff;
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  outline: none;
  resize: vertical;
  transition: border-color 0.3s ease;
}
.input[disabled] {
  border-color: #c8c8c8;
  background-color: #f2f2f2;
  box-shadow: none;
  cursor: not-allowed;
}
.input:focus {
  border-color: #0c69d6;
}
.control {
  margin: 0 0 0.9rem;
  box-sizing: border-box;
}
.control__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.control__label {
  display: block;
  position: relative;
  padding-left: calc(20px + 0.6rem);
  will-change: transform;
}
.control__label::before,
.control__label::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
}
.control__label::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
  border-color: #bbb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  background: #fff;
  background-size: 0;
}
.control__label::after {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(0);
  transition: transform 0.3s ease;
  will-change: transform;
}
.control__input[type="radio"] + .control__label::before {
  border-radius: 100%;
}
.control__input[type="radio"] + .control__label::after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M256%2C464c114.9%2C0%2C208-93.1%2C208-208c0-114.9-93.1-208-208-208C141.1%2C48%2C48%2C141.1%2C48%2C256C48%2C370.9%2C141.1%2C464%2C256%2C464z%22/%3E%3C/svg%3E");
}
.control__input[type="checkbox"] + .control__label::after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M461.6%2C109.6l-54.9-43.3c-1.7-1.4-3.8-2.4-6.2-2.4c-2.4%2C0-4.6%2C1-6.3%2C2.5L194.5%2C323c0%2C0-78.5-75.5-80.7-77.7c-2.2-2.2-5.1-5.9-9.5-5.9c-4.4%2C0-6.4%2C3.1-8.7%2C5.4c-1.7%2C1.8-29.7%2C31.2-43.5%2C45.8c-0.8%2C0.9-1.3%2C1.4-2%2C2.1c-1.2%2C1.7-2%2C3.6-2%2C5.7c0%2C2.2%2C0.8%2C4%2C2%2C5.7l2.8%2C2.6c0%2C0%2C139.3%2C133.8%2C141.6%2C136.1c2.3%2C2.3%2C5.1%2C5.2%2C9.2%2C5.2c4%2C0%2C7.3-4.3%2C9.2-6.2L462%2C121.8c1.2-1.7%2C2-3.6%2C2-5.8C464%2C113.5%2C463%2C111.4%2C461.6%2C109.6z%22/%3E%3C/svg%3E");
}
.control__input[type="radio"][disabled] + .control__label,
.control__input[type="checkbox"][disabled] + .control__label {
  cursor: not-allowed;
}
.control__input[type="radio"][disabled] + .control__label::before,
.control__input[type="checkbox"][disabled] + .control__label::before {
  border-color: #c8c8c8;
  background-color: #f2f2f2;
  box-shadow: none;
}
.control__input:checked + .control__label::after {
  transform: scale(1);
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  margin: 0 0 0.9rem;
  padding: 0.6rem;
  width: 100%;
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M256%2C298.3L256%2C298.3L256%2C298.3l174.2-167.2c4.3-4.2%2C11.4-4.1%2C15.8%2C0.2l30.6%2C29.9c4.4%2C4.3%2C4.5%2C11.3%2C0.2%2C15.5L264.1%2C380.9c-2.2%2C2.2-5.2%2C3.2-8.1%2C3c-3%2C0.1-5.9-0.9-8.1-3L35.2%2C176.7c-4.3-4.2-4.2-11.2%2C0.2-15.5L66%2C131.3c4.4-4.3%2C11.5-4.4%2C15.8-0.2L256%2C298.3z%22/%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.6rem) center;
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  outline: 0;
}
.select[disabled] {
  border-color: #c8c8c8;
  background-color: #f2f2f2;
  box-shadow: none;
  cursor: not-allowed;
}
.select:focus {
  border-color: #0c69d6;
}
.select::-ms-expand {
  display: none;
}
.woocommerce-account .page-content {
  margin: auto;
}
@media screen and (min-width: 48em) {
  .woocommerce-account .page-content {
    max-width: 48em;
  }
}
@media screen and (min-width: 75em) {
  .woocommerce-account .page-content {
    max-width: 75em;
  }
}
.woocommerce-account.woocommerce-view-subscription .page-title {
  font-size: 2rem;
}
.woocommerce-account.woocommerce-view-subscription h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.woocommerce-account.woocommerce-view-subscription h3 {
  font-size: 1.45em;
}
.woocommerce-form__label.woocommerce-form__label-for-checkbox {
  display: flex;
  align-items: center;
}
.woocommerce-form__label.woocommerce-form__label-for-checkbox input {
  width: auto;
  margin-right: 0.75rem;
}
.shipping.recurring-total ul li input {
  width: auto;
  margin-right: 0.5em;
}
.woocommerce td.product-name .wc-item-meta p,
.woocommerce td.product-name .wc-item-meta:last-child,
.woocommerce td.product-name dl.variation p,
.woocommerce td.product-name dl.variation:last-child {
  margin: 0;
}
.shop_table .cart_item .product-name {
  font-weight: bold;
}
.woocommerce form .form-row .input-checkbox {
  width: auto;
}
