.big-button {
  background: $green;
  display: inline-block;
  color: #fff;
  padding: 16px 46px 20px;
  transition: ease-in-out all 150ms;
  font-size: 1.2em;
  border-radius: 3em;
  font-family: $heading-font;
  line-height: 1;
  font-size: 30px;
  text-decoration: none;

  &:hover {
    background: lighten($green, 5%);
  }
}
