form {
    input,
    textarea {
        border: 0;
        background: #fff;
        color: #444;
        padding: 16px;
        outline: none;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.8em;
    }
}

.button {
    font-family: $heading-font;
    background: $gold;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease all 100ms;

    &:hover {
      background: darken($gold, 5%);
    }
}


.form-inline--input,
.form-inline--button {
    display: inline-block;
  //  height: 50px;
}

.form-inline {
}
