.row {
  @extend %clearfix;

  @include media-above($break-medium) {
  	display: flex;
    margin-right: -30px;
    margin-left: -30px;
  }

  .column {
    position: relative;

    @include media-above($break-medium) {
      width: 50%;
      padding: 30px;
    }
  }
}

.img-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }
}
