// ==== NAVIGATION ==== //

.nav-posts {
    @extend %clearfix;
    @extend %spacer-below-3;
}

.nav-previous {
    box-sizing: border-box;
    float: left;
    padding-right: spacer(1/2);
    width: 50%;
}

.nav-next {
    box-sizing: border-box;
    float: right;
    padding-left: spacer(1/2);
    text-align: right;
    width: 50%;
}


#responsive-menu {
    transition: cubic-bezier(0.4, 0, 1, 1) all 200ms;
    transform: translateY(-130%);
    position: absolute;
    width: 100%;

    @include media-above($break-small){
        transform: none;
        position: relative;
    }

    &.menu-open {
        transform: none;
    }
}

.mobile-nav-button {
    display: block;
    border: 0;
    outline: 0;
    text-align: center;
    background: $text-color;
    transition: ease all 150ms;
    display: block;
    color: $green-light;
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 400;
    padding: 0.75em 0;
    width: 100%;
    z-index: 10;
    position: relative;

    @include media-above($break-small){
        display: none;
    }
}

// Navigation
ul.header-navigation {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;

    @include media-above($break-small) {
        flex-direction: row;
    }

    li {
        flex: 1;
        text-align: center;
        list-style: none;
        color: $green-light;
        border-bottom: 0px solid;
        background: $green-light;
        transition: ease all 150ms;

        &.current-menu-item{
            border-color: $green-dark;
        }

        &:hover {
            background: lighten($green-light, 2%);
            color: lighten($green-dark, 2%);
        }
    }

    a {
        display: block;
        color: $text-color;
        font-family: $heading-font;
        font-size: 18px;
        font-weight: 400;
        padding: 0.75em;
    }

}
