

// Font Family
@mixin font($fontfamily: null) {
  @if $fontfamily == 'bebas' {
      font-family: 'bebas neue';
      letter-spacing: 0.03em;
      font-weight: 800;
  }
  @else if $fontfamily == 'montserrat' {
      font-family: 'montserrat';
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-weight: bold;
  }
  @else {
      font-family: 'bebas neue';
      letter-spacing: 0.03em;
      font-weight: 800;
  }
}


// Clearfix
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
