// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site: 1000px;
$width-left: 650px;
$width-right: 350px;

// Breakpoints
$break-small: 48em;
$break-medium: 64em;
$break-large: 75em;

// A standard margin
$spacer: 30px;

// $gold: #DDB988;
// $green: #C0CA33;

// $green-light: #f2f3ed;
// $green-dark: #AFB42B;

$gold: #2baad5;
$green: #2baad5;

$green-light: #c7dbf4;
$green-dark: #2baad5;

$site-background-color: #f1f1f1;
$text-color: #111;
$black: #000;

$base-text-size: 20px;

$serif: "Lora", "Droid Serif", Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
  "Liberation Sans", Arimo, sans-serif;
$heading-font: "Oswald", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L",
  "Liberation Sans", Arimo, sans-serif;

/*!
Theme Name: Oddly Correct
Author: Patrick Little
Author URI: http://patrick-little.com
Description: Oddly Correct
Version: 0.1
Text Domain: oddlycorrect
*/
