// ==== GENERAL ==== //

html {
  font-size: $base-text-size;
}

body {
  background: #fff;
  color: $text-color;
  font-family: $serif;
  line-height: 1.4444;
  transform: translateZ(0);

  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.22222;
}

a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color 100ms ease-out;
  color: $green-dark;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  padding-bottom: 1em;

  a {
    color: #000;
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix();
}

.textCenter {
  text-align: center;
}
