html {
  font-size: 1.25em;
}

body {
  background-color: white;
  font-family: $serif;
  font-weight: 400;
  line-height: 1.45;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: $heading-font;
  margin-top: 0;
  font-size: 3.1em;
  font-weight: 500;

  a {
    color: $text-color;

    &:hover {
      color: $gold;
    }
  }
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}

h5,
.entry-meta {
  font-size: 16px;
  letter-spacing: 0.25em;
}
