.site-footer {
    padding: 30px 0;

    @include media-above($break-small) {
        padding: 60px 0;
    }

    @include media-above($break-medium) {
        padding: 90px 0;
    }
}

.footer-navigation {
  @extend %clearfix;

  .footer-navigation-column {
    @include media-above($break-small) {
        width: 50%;
        float: left;
    }

    @include media-above($break-medium) {
        width: 25%
    }
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;

    a {
      color: $text-color;
    }
  }
}

// Copyright

.copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
}
