// Default Header Layout

.site-header {
  width: 100%;
  @extend %clearfix;
}

.site-branding {
    text-align: center;
    margin-bottom: 30px;

    @include media-above($break-small) {
      margin-bottom: 0;
      padding: 40px;
    }

    h1 {
        margin: 0;
    }
}

.header-logo {
    height: auto;
    width: 240px;
    line-height: 1;

    @include media-above($break-small) {
        width: 240px;
    }
}

.site-navigation {
    width: 100%;
    margin-bottom: 1.5em;
}
