.page-header {
    text-align: center;
    //padding-bottom: 40px;
    //max-width: 800px;
    margin: 0 auto 80px;
    text-transform: uppercase;

    h1 {
        display: inline-block;
        padding-bottom: 15px;

        @include media-above($break-small) {
            font-size: 60px;
            max-width: 800px;
            margin: 0 auto;
        }

        @include media-above($break-medium) {
            font-size: 80px;
        }
    }

    h2 {
        font-family: $serif;
        font-size: 28px;
        text-transform: none;
        margin-bottom: 2em;
    }

    &.product-page-header {
        h1 {
            @include media-above($break-small) {
                font-size: 30px;
            }

            @include media-above($break-medium) {
                font-size: 40px;
            }
        }
    }
}

.has-featured-image {
    .page-title {

        @include media-above($break-small) {
            position: absolute;
            right: 0;
            padding: 40px 20px 40px 40px;
            background: #fff;
            color: $text-color;
            margin-top: 40px;
            max-width: 50vw;
            text-align: right;
        }
    }
}

.page-featured-image img {
    display: block;
    width: 100%;
    height: auto;
    @include media-above($break-small) {
        max-width: 85vw;
    }
    @include media-above($break-medium) {
        max-width: 75vw;
    }
}

h1.post-title {
    margin-bottom: 1.45em;
}

.post-featured-image {
    max-width: 60em;
    margin: auto;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}


.page-content {
    margin: auto;
    @include media-above($break-small) {
        max-width: 35em;
    }
    @include media-above($break-large) {
        max-width: 40em;
    }
}

.welcome-message {
    margin: 0 auto 4em;
    padding: 0 15px;
    text-align: center;
    max-width: 800px;

    @include media-above($break-large) {
        margin-bottom: 8em;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 2rem;
    }
}
