.woocommerce-account {
  .page-content {
    margin: auto;
    @include media-above($break-small) {
      max-width: $break-small;
    }
    @include media-above($break-large) {
      max-width: $break-large;
    }
  }

  &.woocommerce-view-subscription {
    .page-title {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    h3 {
      font-size: 1.45em
    }
  }
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox {
  display: flex;
  align-items: center;

  input {
    width: auto;
    margin-right: 0.75rem;
  }
}

.shipping.recurring-total ul li input {
  width: auto;
  margin-right: 0.5em;
}

.woocommerce td.product-name .wc-item-meta p,
.woocommerce td.product-name .wc-item-meta:last-child,
.woocommerce td.product-name dl.variation p,
.woocommerce td.product-name dl.variation:last-child {
  margin: 0;
}

.shop_table .cart_item .product-name {
  font-weight: bold;
}

.woocommerce form .form-row .input-checkbox {
  width: auto;
}