// A standard margin
$spacer:        30px;

$gold: #DDB988;
$green: #A3B49D;
$green-light: #f2f3ed;
$green-dark: #789170;
$site-background-color: #f1f1f1;
$text-color: #000;
$black: #000;

$base-text-size: 20px;

$serif: 'Asar', 'Droid Serif', Georgia, serif;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', 'Liberation Sans', Arimo, sans-serif;
$heading-font: 'Oswald', 'Helvetica Neue', Helvetica, Arial, 'Nimbus Sans L', 'Liberation Sans', Arimo, sans-serif;


@import "base/typography";
